
<p>
  <strong>Place_name:</strong>
  <%= @place.place_name %>
</p>
 
<p>
  <strong>Node_name:</strong>
  <%= @place.node %>
</p>

<p>
  <strong>Company:</strong>
  <%= Company.find(@place.company_id).company  %>
</p>

<%= link_to 'Back', places_path, class: "btn btn-info" %>


<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>